
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#081221;

color:white;

display:flex;

min-height:100vh;

overflow-x:hidden;

}

.sidebar{

width:260px;

background:#07101d;

position:fixed;

left:0;

top:0;

bottom:0;

padding:30px;

border-right:1px solid #12385f;

}

.logo{

text-align:center;

margin-bottom:40px;

}

.logo h1{

font-size:34px;

color:#3ea6ff;

}

.logo p{

color:#8ca9c9;

margin-top:10px;

}

.sidebar a{

display:block;

padding:15px;

margin-bottom:10px;

text-decoration:none;

color:white;

border-radius:12px;

transition:.3s;

}

.sidebar a:hover{

background:#155d9a;

transform:translateX(8px);

}

.main{

margin-left:260px;

width:100%;

padding:40px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

gap:25px;

margin-top:30px;

}

.card{

background:#10263f;

padding:30px;

border-radius:18px;

border:1px solid #1c4d7c;

box-shadow:0 0 35px rgba(0,170,255,.18);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 0 60px rgba(0,170,255,.35);

}

.card h2{

margin-bottom:20px;

color:#8bd5ff;

}

.card h1{

font-size:42px;

}

.panel{

margin-top:40px;

background:#10263f;

padding:35px;

border-radius:18px;

border:1px solid #1c4d7c;

}

table{

width:100%;

margin-top:25px;

border-collapse:collapse;

}

th{

background:#114472;

padding:18px;

}

td{

padding:18px;

border-bottom:1px solid #21496f;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#2196f3;

border-radius:20px;

}

@keyframes glow{

0%{box-shadow:0 0 15px #0066ff;}

50%{box-shadow:0 0 40px #3ea6ff;}

100%{box-shadow:0 0 15px #0066ff;}

}

.card{

animation:glow 4s infinite;

}

