<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width,initial-scale=1">

<title>Velora Enterprise</title>

<link rel="stylesheet"
href="/static/css/style.css">

<script src="/static/js/main.js"></script>

</head>

<body>

<div class="sidebar">

<div class="logo">

<h1>VELORA</h1>

<p>Chrono Shield Systems</p>

</div>

<a href="/">Dashboard</a>

<a href="/customers">Clientes</a>

<a href="/devices">Dispositivos</a>

<a href="/monitoring">Monitoreo</a>

<a href="/security">VCH777 Cyber</a>

<a href="/alerts">Alertas</a>

<hr>

<a href="https://www.facebook.com/share/1DwgsugKHX/" target="_blank">

Facebook Oficial

</a>

</div>

<div class="main">

{% block content %}

{% endblock %}

</div>

</body>

</html>

