{% extends "base.html" %}

{% block content %}

<div class="hero">

<div>

<h1>Velora Enterprise</h1>

<p>
Chrono Shield Systems
</p>

</div>

<div class="status">

<span class="online"></span>

ONLINE

</div>

</div>

<div class="cards">

<div class="card">

<h3>Clientes</h3>

<h1>{{customers}}</h1>

</div>

<div class="card">

<h3>Dispositivos</h3>

<h1>{{devices}}</h1>

</div>

<div class="card">

<h3>Alertas</h3>

<h1>{{alerts}}</h1>

</div>

<div class="card">

<h3>CPU</h3>

<h1>{{cpu}}%</h1>

</div>

<div class="card">

<h3>RAM</h3>

<h1>{{ram}}%</h1>

</div>

<div class="card">

<h3>DISCO</h3>

<h1>{{disk}}%</h1>

</div>

</div>

<div class="grid">

<div class="panel">

<h2>Servidor</h2>

<table>

<tr>

<td>Hostname</td>

<td>{{hostname}}</td>

</tr>

<tr>

<td>Sistema</td>

<td>{{system}}</td>

</tr>

<tr>

<td>Fecha</td>

<td>{{date}}</td>

</tr>

<tr>

<td>Estado</td>

<td style="color:#00ff88">

ONLINE

</td>

</tr>

</table>

</div>

<div class="panel">

<h2>Servicios</h2>

<ul>

<li>✔ Dashboard</li>

<li>✔ API REST</li>

<li>✔ Clientes</li>

<li>✔ Dispositivos</li>

<li>✔ Monitoreo</li>

<li>✔ VCH777 Cyber</li>

<li>✔ Alertas</li>

<li>✔ Base de Datos</li>

</ul>

</div>

</div>

<div class="panel">

<h2>Actividad reciente</h2>

<table>

<tr>

<th>Hora</th>

<th>Evento</th>

<th>Estado</th>

</tr>

<tr>

<td>{{date}}</td>

<td>Velora Enterprise iniciado</td>

<td>Correcto</td>

</tr>

</table>

</div>

{% endblock %}
