{% extends "base.html" %}

{% block content %}

<h1>

Velora Enterprise Dashboard

</h1>

<div class="cards">

<div class="card">

<h2>Clientes</h2>

<h1>{{customers}}</h1>

</div>

<div class="card">

<h2>Dispositivos</h2>

<h1>{{devices}}</h1>

</div>

<div class="card">

<h2>Alertas</h2>

<h1>{{alerts}}</h1>

</div>

<div class="card">

<h2>CPU</h2>

<h1>{{cpu}}%</h1>

</div>

<div class="card">

<h2>RAM</h2>

<h1>{{ram}}%</h1>

</div>

<div class="card">

<h2>DISCO</h2>

<h1>{{disk}}%</h1>

</div>

</div>

<div class="panel">

<h2>

Estado del servidor

</h2>

<p>

Sistema:

{{system}}

</p>

<p>

Velora Enterprise ONLINE

</p>

</div>

{% endblock %}
