{% extends "base.html" %}

{% block content %}

<h1>Dispositivos</h1>

<div class="panel">

<table>

<tr>

<th>ID</th>
<th>Hostname</th>
<th>IP</th>
<th>Sistema</th>
<th>CPU</th>
<th>RAM</th>
<th>Disco</th>
<th>Batería</th>
<th>Estado</th>

</tr>

{% for d in devices %}

<tr>

<td>{{d.id}}</td>
<td>{{d.hostname}}</td>
<td>{{d.ip}}</td>
<td>{{d.system}}</td>
<td>{{d.cpu}}%</td>
<td>{{d.ram}}%</td>
<td>{{d.disk}}%</td>
<td>{{d.battery}}%</td>
<td>{{d.status}}</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}
